body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 104px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 104px);
}

#logo {
  position: absolute;       
  top: 3px;              
  left: 12%;              
  transform: translateX(-70%); 
  height: 100px;
  z-index: 1000;    
}

.heading {
  width: 100%;
  padding: 1rem 2rem;
  height: 70px; 
  background: white;
  border-bottom: 2px solid black;
  display: flex;
  gap: 25px;
  justify-content: center; 
  align-items: center; 
}

/* pushes to side, could replace */
.button {
   border: none;
   padding: 15px 50px;    
   font-size: 1.7rem;
   border-radius: 35px;
   display: flex;
   justify-content: center;
   align-items: center;   
   font-family: "ABeeZee", sans-serif;
   font-weight: 400;
   font-style: normal;
   cursor: pointer;
   transition: background-color 0.5s, transform 0.2s;
}

.spacer {
  width: 150px;
}

#search{ 
  background: #F19C79;
  color: white;
}

#explore{ 
  background: #CBDFBD;
  color: #484755;
}

#surprise{
  background: #D4E09B;
  color: #484755;
}

#contact{
  background: #484755;
  color: white;
}

.body {
  min-height: calc(100vh - 70px); 
  padding: 0;                  
  box-sizing: border-box; 
}

.button:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

a.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
}