<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eats@UIUC</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <nav class="heading">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/Eats@UIUC.png') }}"
                alt="Logo" id="logo">
            </a>
            
            <div class="spacer"></div>
            <a class="button" id="search" href="{{ url_for('search') }}">search</a>
            <a class="button" id="explore" href="{{ url_for('explore') }}">explore</a>
            <a class="button" id="surprise" href="{{ url_for('surprise') }}">surprise me!</a>
            <div class="spacer"></div>
            <a class="button" id="contact" href="{{ url_for('contact') }}">contact</a>
        </nav>

        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>
