{% extends "base.html" %}

{% block content %}
    <div class="body" id="explore-page">
        <h1 class="text" id="explore-text"> What are you in the mood for? </h1>

        <form method="POST">
            <input name="cuisines" list="cuisines" placeholder="Select one or more cuisines">
                <datalist id="cuisines">
                    {% for cuisine in cuisines %}
                        <option value="{{ cuisine }}"> </option>
                    {% endfor %}
                </datalist>
            <button type="submit"> Enter </button>
        </form>
    </div>

{% endblock %}
