<!DOCTYPE html>
<html>
<head>
    <title> Cuisine Page </title>
</head>
<body>


        <form action="#" method="post">
        <label for="myDropdown">Choose an option:</label>
        <select name="cuisine" id="myDropdown">
            <option value="American">American</option>
            <option value="Asian">Asian</option>
            <option value="Bakeries & Cafes">Bakeries & Cafes</option>
            <option value="Bar & Grill">Bar & Grill</option>
            <option value="Barbecue">Barbecue</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Dessert">Dessert</option>
            <option value="Fast Food">Fast Food</option>
            <option value="Fine Dining">Fine Dining</option>
            <option value="International">International</option>
            <option value="Mexican">Mexican</option>
            <option value="Pizza">Pizza</option>
            <option value="Pubs & Bars">Pubs & Bars</option>
            <option value="Sandwiches">Sandwiches</option>
            <option value="Steakhouse">Steakhouse</option>
        </select>
        <br><br>
        <input type="submit" value="Submit Selection">
    </form>

</body>
</html>
